html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body,
div,
p {
    padding: 0px 0px;
    margin: 15px 5px;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
}

body {
    /* background: url("HomepageBackground.jpeg") no-repeat center; */
    /* background-image: url(static/img/HomepageBackground.jpeg); */
    background-size: cover;
}

h1 {
    height: auto;
    color: white;
    font-weight: bold;
    content: justify;
    align-items: center;
    justify-content: center;
}

.main-block {
    /* background: url("HomepageBackground.jpeg") no-repeat center; */
    /* background-image: url(HomepageBackground.jpeg); */
    display: flex;
    width: 100%;
    padding: 70px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 3px #fff;
    opacity: 90%;
}

.block-item {
    width: 50%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.block-item.right {
    border-left: 1px solid #aaa;
}

i {
    width: 50px;
    font-size: 24px;
}

.btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    outline: none;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #666;
    background: #e8e8e8;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
}

.btn span {
    font-size: 16px;
    margin: 10px;
    color: white;
}

.function {
    background: #3CB371;
    font-weight: bold;
}

a {
    text-decoration: none;
}