<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='AboutUs.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Navibar.css')}}"/>
</head>

<body style="background: url('/static/img/aboutsUs.jpg') no-repeat center; background-size: cover; background-color: #e4f3f9;">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/emp" class="dropbtn">Manage Employee</a>
            <div class="dropdown-content">
                <a href="/addemp">Add Employee</a>
                <a href="/searchemp">Search Employee</a>
                <a href="/updateemp">Update Employee</a>
                <a href="/deleteemp">Delete Employee</a>
            </div>
        </li>
        <li><a href="/attendance">Attendance</a></li>
        <li><a href="/leave">Leave</a></li>
        <li><a href="/payroll">Payroll</a></li>
        <li><a href="/aboutus">About Us</a></li>
    </ul>

    <div class="about-section" style="padding: 200px;">
        <h1 style="border-top: 50px;"><strong>About Us Page</strong></h1>
        <p style="font-size: 20px;">HR software is a digital solution for managing and optimizing the daily human
            resources tasks and overall HR
            goals of an organization. <br><br>
            HR software makes it possible for HR staff and managers to better allocate their time and resources to more
            productive, profitable efforts.
        </p>
    </div>
    <br><br><br>
    <div>
        <div class="row">
            <div class="column1">
                <h3 style="text-align:center">Our Vision</h3>
                <p style="text-align:justify">To become one of the dominant delivery applications worldwide that focuses
                    on a healthy lifestyle and also provides food faster, cheaper, with good customer service. Hence,
                    the company hopes to help users to stay healthy in the long term by providing different types of
                    services.</p>
            </div>
            <div class="column1">
                <h3 style="text-align:center">Our Mission</h3>
                <p style="text-align:justify">To influence the citizens of Malaysia to pay more attention to their food
                    consumption by providing nutrition information for users’ reference and also to reduce the number of
                    people that are obese, and at the same time, to provide job opportunities for riders and
                    nutritionists.</p>
            </div>
        </div>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{{ url_for('static', filename='img/xiao1.jpg')}}" alt="Jane" style="width:50%" class="center"/>
                <div class="container">
                    <h2>Amelia Lam Pei Wen</h2>
                    <p class="title">CEO & Founder</p>
                    <p>amelialpw-wm19@student.tarc.edu.my</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{{ url_for('static', filename='img/zhongli.jpg')}}" alt="Mike" style="width:59%" class="center"/>
                <div class="container">
                    <h2>Lee Jia Yee</h2>
                    <p class="title">CTO</p>
                    <p>jylee-wm19@student.tarc.edu.my</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{{ url_for('static', filename='img/ayato.jpg')}}" alt="John" style="width:50%" class="center"/>
                <div class="container">
                    <h2>Low Yee Jing</h2>
                    <p class="title">COO</p>
                    <p>lowyj-wm19@student.tarc.edu.my</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>