<!DOCTYPE html>
<html>

<head>
    <title>Add Employee Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Navibar.css')}}"/>
</head>

<body style="background: url('/static/img/background_addEmp.jpg') no-repeat center; background-size: cover;">
    <ul class="navibar">
        <li class="navibar"><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/emp" class="dropbtn">Manage Employee</a>
            <div class="dropdown-content">
                <a href="/addemp">Add Employee</a>
                <a href="/searchemp">Search Employee</a>
                <a href="/updateemp">Update Employee</a>
                <a href="/deleteemp">Delete Employee</a>
            </div>
        </li>
        <li class="navibar"><a href="/attendance">Attendance</a></li>
        <li class="navibar"><a href="/leave">Leave</a></li>
        <li class="navibar"><a href="/payroll">Payroll</a></li>
        <li class="navibar"><a href="/aboutus">About Us</a></li>
    </ul>
    <div class="container">
        <button style="border: none;background: none;"><a class="back" href="/emp">&times;</a></button>
        <div class="card">
            <h1 class="card_title" style="width:fit-content">Employee Database</h1>
            <form action="/addemp/output" autocomplete="on" method="POST" enctype="multipart/form-data">
                <div class="input">
                    <input type="file" class="input_field" accept="image/*" name="emp_image_file" id="file"
                        onchange="loadFile(event)" style="display: none;" required>
                    <label for="file" class="pic_button" style="cursor: pointer;">Upload Profile</label>
                    <img id="output" width="200" />
                    <script>
                        var loadFile = function (event) {
                            var image = document.getElementById('output');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>
                <div class="input">
                    <input type="text" name="emp_id" class="input_field input_label" placeholder="Employee ID" required />
                </div>
                <div class="input">
                    <input type="text" name="first_name" class="input_field input_label" placeholder="First Name" required />
                </div>
                <div class="input">
                    <input type="text" name="last_name" class="input_field input_label" placeholder="Last Name" required />
                </div>
                <div class="input">
                    <input type="text" name="pri_skill" class="input_field input_label" placeholder="Primary Skills" required />
                </div>
                <div class="input">
                    <input type="text" name="location" class="input_field input_label" placeholder="Location" required />
                </div>
                <button class="card_button" type="submit">Add Record</button>
            </form>
        </div>
    </div>
</body>
</html>