<!DOCTYPE html>
<html>

<head>
    <title>Add Employee Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}"/>
</head>

<body style="background: url('/static/img/background_addEmp.jpg') no-repeat center; background-size: cover;">
    <div class="output">
        <h1 class="output_title">Employee Added Successfully!</h1>
        <h3>The Following Employee has been added to the database :</h3>
        <h3>{{ name }}</h3><br>
        <div style="text-align:center;">
            <form action="http://18.234.115.251/" autocomplete="on" method="GET">
                <button type="submit" class="back_btn">Go Back</button>
            </form>
        </div>
    </div>
</body>

</html>