<!DOCTYPE html>
<html>

<head>
    <title>Employee Attendance Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Navibar.css')}}"/>
</head>

<body style="background: url('/static/img/background_attendance.jpg') no-repeat center; background-size: cover;">
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Homepage</a>
        <div class="dropdown">
            <button class="dropbtn"><a href="/emp">Manage Employee</a>
            </button>
            <div class="dropdown-content">
                <a href="/addemp">Add Employee</a>
                <a href="/searchemp">Search Employee</a>
                <a href="/updateemp">Update Employee</a>
                <a href="/deleteemp">Delete Employee</a>
            </div>
        </div>
        <a href="/attendance">Attendance</a>
        <a href="/leave">Leave</a>
        <a href="/payroll">Payroll</a>
        <a href="/aboutus">About Us</a>
    </div>
    <div class="output">
        <h1 class="output_title" style="box-shadow: 0 0px 15px -5px #de6363;">Attendance Taken Successfully!</h1>
        <h3>The Following Employee's Attendance has been added to the database :</h3><br>
        <h3>Employee ID : {{ id }}</h3>
        <h3>Check In Time : {{ check_in }}</h3>
        <h3>Check Out Time : {{ check_out }}</h3>

        <div style="text-align:center;">
            <form action="/attendance" autocomplete="on" method="GET">
                <button type="submit" class="back_btn" style="border-color: #f699e9; color: #f699e9;">Go Back</button>
            </form>
        </div>
    </div>
</body>

</html>