<!DOCTYPE html>
<html>

<head>
    <title>Employee Attendance Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}">
</head>

<body style="background: url(background_attendance.jpg) no-repeat center; background-size: cover;">
    <div class="output">
        <h1 class="output_title" style="box-shadow: 0 0px 15px -5px #de6363;">Attendance Taken Successfully!</h1>
        <h3>The Following Employee's Attendance has been added to the database :</h3>
        <h3>{{ name }}</h3><br>
        <div style="text-align:center;">
            <form action="Homepage.html" autocomplete="on" method="GET">
                <button type="submit" class="back_btn" style="border-color: #f699e9; color: #f699e9;">Go Back</button>
            </form>
        </div>
    </div>
</body>

</html>