<!DOCTYPE html>
<html>

<head>
    <title>Delete Employee Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Navibar.css')}}"/>
</head>

<body style="background: url('/static/img/deleteEmp.jpg') no-repeat center; background-size: cover;">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/emp" class="dropbtn">Manage Employee</a>
            <div class="dropdown-content">
                <a href="/addemp">Add Employee</a>
                <a href="/searchemp">Search Employee</a>
                <a href="/updateemp">Update Employee</a>
                <a href="/deleteemp">Delete Employee</a>
            </div>
        </li>
        <li><a href="/attendance">Attendance</a></li>
        <li><a href="/leave">Leave</a></li>
        <li><a href="/payroll">Payroll</a></li>
        <li><a href="/aboutus">About Us</a></li>
    </ul>
    <div class="output">
        <h1 class="output_title">Employee Deleted Successfully!</h1>
        <h3>The Following Employee has been deleted from the database :</h3>
        <h3>Employee ID : {{ emp_id }}</h3><br>
        <div style="text-align:center;">
            <form action="/" autocomplete="on" method="GET">
                <button type="submit" class="delete_btn">Go Back</button>
            </form>
        </div>
    </div>
</body>

</html>