<!DOCTYPE html>
<html>

<head>
    <title>Display Employee Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}">
</head>

<body style="background: url(background_display.jpg) no-repeat center; background-size: cover;">
    <div class="container">
        <button style="border: none;background: none;"><a class="back" href="/">&times;</a></button>
        <div class="card">
            <h1 class="card_title" style="width:fit-content">Display Employee Database</h1>
            <form class="search" action="/searchOutput/">
                <input type="text" placeholder="Search Employee ID" name="search">
                <button type="submit">&#128269;</button>
            </form>
        </div>
    </div>
</body>

</html>