<!DOCTYPE html>
<html>

<head>
    <title>Display Error</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='JY.css')}}"/> -->
    <link rel="stylesheet" href="../static/JY.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<header>
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid">
            <a class="nav-link active" aria-current="page" href="/attendance">Homepage</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-item" href="#" role="button" data-bs-toggle="dropdown" >
                  Manage Employee
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/addemp">Add Employee</a></li>
                  <li><a class="dropdown-item" href="/searchemp">Search Employee</a></li>
                  <li><a class="dropdown-item" href="/updateemp">Update Employee</a></li>
                  <li><a class="dropdown-item" href="/deleteemp">Delete Employee</a></li>
                </ul>
              </li>
              <a class="nav-link active" aria-current="page" href="/attendance">Attendance</a>
              <a class="nav-link active" aria-current="page" href="/leave">Leave</a>
              <a class="nav-link active" aria-current="page" href="/payroll">Payroll</a>
              <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
            </ul>
          </div>
        </div>
      </nav>
</header>
<!-- <body style="background: url('/static/img/background_addEmp.jpg') no-repeat center; background-size: cover;"> -->

<body style="background: url('../static/img/background_error.jpg') no-repeat center; background-size: cover;">
    <div class="output">
        <h1 class="output_title">Error Page</h1>
        <h3>You had encountered an error message :</h3>
        <h3>{{ msg }}</h3><br>
        <div style="text-align:center;">
            <form action="/" autocomplete="on" method="GET">
                <button type="submit" class="back_btn" style="border-color: #87858b; color: rgb(135 134 137);">Go Back</button>
            </form>
        </div>
    </div>
</body>

</html>