<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Home.css')}}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<header>
  <nav class="navbar navbar-expand-lg bg-light ">
      <div class="container-fluid">
          <a class="nav-link active" aria-current="page" href="/attendance">Homepage</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-item" href="#" role="button" data-bs-toggle="dropdown" >
                Manage Employee
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/addemp">Add Employee</a></li>
                <li><a class="dropdown-item" href="/searchemp">Search Employee</a></li>
                <li><a class="dropdown-item" href="/updateemp">Update Employee</a></li>
                <li><a class="dropdown-item" href="/deleteemp">Delete Employee</a></li>
              </ul>
            </li>
            <a class="nav-link active" aria-current="page" href="/attendance">Attendance</a>
            <a class="nav-link active" aria-current="page" href="/leave">Leave</a>
            <a class="nav-link active" aria-current="page" href="/payroll">Payroll</a>
            <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
          </ul>
        </div>
      </div>
    </nav>
</header>

<body style="background: url('/static/img/HomepageBackground.jpeg') no-repeat center; background-size: cover;">
  <div class="main-block"
    style="background: url('/static/img/HomepageBackground.jpeg') no-repeat center; background-size: cover;">
    <div class="block-item left">
      <h1>Employee Management System</h1>
    </div>
    <div class="block-item right">
      <div class="button-container2">
        <a href="/emp">
          <button class="btn function"><span>Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/attendance">
          <button class="btn function"><span>Attendance</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/leave">
          <button class="btn function"><span>Leave</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/payroll">
          <button class="btn function"><span>Payroll</span></button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>