<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Home.css')}}">
</head>

<body><img src="{{ url_for('static', filename='HomepageBackground.jpeg')}}">
  <div class="main-block"><img src="{{ url_for('static', filename='HomepageBackground.jpeg')}}">
    <div class="block-item left">
      <h1>Employee Management System</h1>
    </div>
    <div class="block-item right">
      <div class="button-container2">
        <a href="/payroll">
          <button class="btn function"><span>Payroll</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/attendance">
          <button class="btn function"><span>Attendance</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/leave">
          <button class="btn function"><span>Leave</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/addemp">
          <button class="btn function"><span>Add Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/display">
          <button class="btn function"><span>Display Employee</span></button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>