<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Home.css')}}">
</head>

<body>
  <div class="main-block">
    <div class="block-item left">
      <h1>Employee Management System</h1>
    </div>
    <div class="block-item right">
      <div class="button-container2">
        <a href="/payroll">
          <button class="btn function"><span>Payroll</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="Attendance.html">
          <button class="btn function"><span>Attendance</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/leave">
          <button class="btn function"><span>Leave</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="AddEmp.html">
          <button class="btn function"><span>Add Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="DisplayInfo.html">
          <button class="btn function"><span>Display Employee</span></button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>