<!DOCTYPE html>
<html>

<head>
    <title>Leave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='YJ.css')}}" />
</head>

<body style="background: url('/static/img/LeaveBackground.jpeg') no-repeat center; background-size: cover;">
    <form action="/leave/output" class="decor" autocomplete="on" method="POST" enctype="multipart/form-data">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
            <h1>Leave Application</h1>
            <div class="container">
                <div class="colums">
                    <div>
                        <label for="eid">Employee ID</label>
                        <input type="text" placeholder="Enter Your ID" name="emp_id" required>
                    </div>
                </div>
                <div class="colums">
                    <div>
                        <label for="fname">Employee First Name</label>
                        <input type="text" placeholder="Enter First Name" name="first_name" required>
                    </div>
                    <div>
                        <label for="lname">Employee Last Name</label>
                        <input type="text" placeholder="Enter Last Name" name="last_name" required>
                    </div>
                </div>
                <div class="colums">
                    <div>
                        <label for="start_date">Leave Start Date</label>
                        <input id="start_date" type="date" name="start_date" required />
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div>
                        <label for="end_date">Leave End Date</label>
                        <input id="end_date" type="date" name="end_date" required />
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <br>
                <form>
                    <label>Leave Type</label>
                    <div>
                        <div>
                            <input type="radio" value="Medical Leave" id="radioOne" name="leave_type" required>
                            <label>Medical Leave</label>
                        </div>
                        <div>
                            <input type="radio" value="Maternity/Paternity Leave" id="radioTwo" name="leave_type" required>
                            <label>Maternity/Paternity Leave</label>
                        </div>
                        <div>
                            <input type="radio" value="Holiday Leave" id="radioThree" name="leave_type" required>
                            <label>Holiday Leave</label>
                        </div>
                        <div>
                            <input type="radio" value="Annual Leave" id="radioFour" name="leave_type" required>
                            <label>Annual Leave</label>
                        </div>
                        <div>
                            <input type="radio" value="Family Responsibility Leave" id="radioFive" name="leave_type" required>
                            <label>Family Responsibility Leave</label>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="file">Attachment</label>
                        <label for="myfile">Select a file:</label>
                        <input type="file" id="myfile" name="emp_leave_file" required>
                        <label for="comment">Comment</label>
                        <textarea placeholder="Remarks" rows="2" name="comment"></textarea>
                    </div>
                    <div class="colums">
                        <div class="btn-block">
                            <button formaction="/leave/output">SUBMIT</button>
                        </div>
                        <div class="btn-block">
                            <button formaction="/">BACK</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
</body>

</html>