<!DOCTYPE html>
<html>

<head>
  <title>Manage Employee</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Home.css')}}" />
  <link rel="stylesheet" href="Navibar.css" />
</head>

<body style="background: url('/static/img/background_mngEmp.jpg') no-repeat center; background-size: cover;">
  <div class="main-block" style = "box-shadow: 1px 1px 8px 3px #edcf2f;">
    <div class="block-item left">
      <h1 style="color: black; text-shadow: 8px 6px 7px grey;">Manage Employee Options</h1>
    </div>
    <div class="block-item right">
      <div class="button-container2">
        <a href="/addemp">
          <button class="btn function" style="background: #ffbdfc;"><span class="mgmt_text" style="color: black;">Add
              Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/searchemp">
          <button class="btn function" style="background: #ffbdfc;"><span class="mgmt_text" style="color: black;">Search
              Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/updateemp">
          <button class="btn function" style="background: #ffbdfc;"><span class="mgmt_text" style="color: black;">Update
              Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/deleteemp">
          <button class="btn function" style="background: #ffbdfc;"><span class="mgmt_text" style="color: black;">Delete
              Employee</span></button>
        </a>
      </div>
      <div class="button-container2">
        <a href="/">
          <button class="btn function" style="background: #ffbdfc;"><span class="mgmt_text"
              style="color: black;">Back</span></button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>