<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='PayrollOutput.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Navibar.css')}}"/>

</head>

<body style="background: url('/static/img/pinkwallpaper.jpg') no-repeat center; background-size: cover;">
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Homepage</a>
        <div class="dropdown">
            <button class="dropbtn"><a href="/emp">Manage Employee</a>
            </button>
            <div class="dropdown-content">
                <a href="/addemp">Add Employee</a>
                <a href="/searchemp">Search Employee</a>
                <a href="/updateemp">Update Employee</a>
                <a href="/deleteemp">Delete Employee</a>
            </div>
        </div>
        <a href="/attendance">Attendance</a>
        <a href="/leave">Leave</a>
        <a href="/payroll">Payroll</a>
        <a href="/aboutus">About Us</a>
    </div>
    <div class="main-block">
        <div class="form" style="background: url('/static/img/pinkwallpaper.jpg') no-repeat center; background-size: cover;">
            <h1><strong>Payroll Calculator Result</strong></h1>
            <div class="info">
                <p>Employee ID</p>
                <h3>{{emp_id}}</h3>
                <p>Total Working Hours</p>
                <h3>{{ "%.2f"|format(workingHours) }} Hours</h3>
                <p>Monthly Salary</p>
                <h3>RM {{ "%.2f"|format(mthSalary) }}</h3>
                <p>Bonus Earned</p>
                <h3>RM {{ "%.2f"|format(BonusEarned) }}</h3>
            </div>
            <br>
            <form action="/" autocomplete="on" method = "GET" style="width: 100%">

                <button>Back To Homepage</button>

            </form>
        </div>
    </div>
</body>
</html>