<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Payroll.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Navibar.css')}}"/>
</head>

<body style="background: url('/static/img/pinkwallpaper.jpg') no-repeat center; background-size: cover;">
    <div class="navibar">
        <ul class="navibar">
            <li class="navibar"><a href="/">Home</a></li>
            <li class="navibar dropdown">
                <a href="/emp" class="dropbtn">Manage Employee</a>
                <div class="dropdown-content">
                    <a href="/addemp">Add Employee</a>
                    <a href="/searchemp">Search Employee</a>
                    <a href="/updateemp">Update Employee</a>
                    <a href="/deleteemp">Delete Employee</a>
                </div>
            </li>
            <li class="navibar"><a href="/attendance">Attendance</a></li>
            <li class="navibar"><a href="/leave">Leave</a></li>
            <li class="navibar"><a href="/payroll">Payroll</a></li>
            <li class="navibar"><a href="/aboutus">About Us</a></li>
        </ul>
    </div>
    <div class="main-block">
        <div class="left-part">
            <div style="font-size: 80px;">
                <i class="fa fa-money" style="color:rgb(253, 253, 253)"></i>
            </div>
            <div style="font-size: 80px;">
                <i class="far fa-clock" style="color:rgb(253, 253, 253)"></i>
            </div>
            <div style="font-size: 80px;">
                <i class="far fa-calendar-alt" style="color:rgb(253, 253, 253)"></i>
            </div>
        </div>
        <form autocomplete="on" method = "POST" enctype="multipart/form-data" style="background: url('/static/img/pinkwallpaper.jpg') no-repeat center; background-size: cover;">
            
            <h1><strong>Payroll Calculator</strong></h1>
            <div class="info">
                <p>Employee ID</p>
                <input class="fname" type="text" name="emp_id" placeholder="Enter Employee ID">
                <p>Working Hours Per Day</p>
                <input type="number" name="workingHoursPerDay" step=".01" placeholder="Enter Working Hours Per Day">
                <p>Total Working Day</p>
                <input type="number" name="totalWorkDays" placeholder="Enter Total Working Day ">
            </div>
            <br>
            <div><button formaction="/payroll/output" type="submit">Calculate</button></div>
            <br>
            <div><button formaction="/" autocomplete="on" method = "GET" style="width: 100%">Back</button></div>
        </form>
    </div>
</body>

</html>