<!DOCTYPE html>
<html>

<head>
    <title>Payroll</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Payroll.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>
<header>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link btn btn-light active" aria-current="page" href="/" style="color: black; font-size: large;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-light active" aria-current="page" href="/emp" style="color: black; font-size: large;">Manage Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-light active" aria-current="page" href="/attendance" style="color: black; font-size: large;">Attendance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-light active" aria-current="page" href="/payroll" style="color: black; font-size: large;">Payroll</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-light active" aria-current="page" href="/aboutus" style="color: black; font-size: large;">About Us</a>
        </li>
    </ul>
  </header>

<body style="background: url('/static/img/pinkwallpaper.jpg') no-repeat center; background-size: cover;">
    <div class="main-block">
        <div class="left-part">
            <div style="font-size: 80px;">
                <i class="fa fa-money" style="color:rgb(253, 253, 253)"></i>
            </div>
            <div style="font-size: 80px;">
                <i class="far fa-clock" style="color:rgb(253, 253, 253)"></i>
            </div>
            <div style="font-size: 80px;">
                <i class="far fa-calendar-alt" style="color:rgb(253, 253, 253)"></i>
            </div>
        </div>
        <form autocomplete="on" method="POST" enctype="multipart/form-data"
            style="background: url('/static/img/pinkwallpaper.jpg') no-repeat center; background-size: cover;">

            <h1><strong>Payroll Calculator</strong></h1>
            <div class="info">
                <p>Employee ID</p>
                <input class="fname" type="text" name="emp_id" placeholder="Enter Employee ID">
                <p>Working Hours Per Day</p>
                <input type="number" name="workingHoursPerDay" step=".01" placeholder="Enter Working Hours Per Day">
                <p>Total Working Day</p>
                <input type="number" name="totalWorkDays" placeholder="Enter Total Working Day ">
            </div>
            <br>
            <div><button formaction="/payroll/output" type="submit">Calculate</button></div>
            <br>
            <div><button formaction="/" autocomplete="on" method="GET" style="width: 100%">Back</button></div>
        </form>
    </div>
    </div>


</body>

</html>